<!doctype html>
<html>
<head>
	<title>Task Planner</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/my_style.css">

</head>
<body>
	<div class="container">
		
		<div class="panel panel-default">
			<div class="panel-heading">Description</div>
			<div class="panel-body">
				<div class="col-sm-2">Subject: </div>
				<div class="col-sm-10"><%= task[0].taskname %></div>
				<div class="col-sm-2">Start Date: </div>
				<siv class="col-sm-10"><%= task[0].startdate %></siv>
				<div class="col-sm-2">Status:  </div>
				<siv class="col-sm-10"><%= task[0].state %></siv>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Classification</div>
			<div class="panel-body">
				<div class="col-sm-2">System: </div>
				<div class="col-sm-4"><%= task[0].system %></div>
				<div class="col-sm-2">Functional Area: </div>
				<div class="col-sm-4"><%= task[0].funcarea %></div>
				<div class="col-sm-2">Country: </div>
				<div class="col-sm-10"><%= task[0].country %></div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Procedure</div>
			<div class="panel-body">
				<div class="col-sm-2">Procedure</div>
				<div class="col-sm-10"><a href="http://10.156.198.40/root/PS/procedure.php?procID=<%= task[0].listproc %>&procName=<%= task[0].procname %>" target="_blank"><%= task[0].procname %></a></div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Detailed Description</div>
			<div class="panel-body"><%= task[0].descript %></div>
			<div class="panel-body">
				<textarea class="form-control" rows="3" placeholder="IF got any.."></textarea>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">History</div>
			<div class="panel-body">
			<div class="col-sm-2"><%= createdate %></div>
			<div class="col-sm-2"><%= task[0].createname %></div>
			<div class="col-sm-8"><%= task[0].note %></div>

			<% for (i=0; i < tablehistory.length; i++) { %>
				<div class='col-sm-2'><%= new Date(tablehistory[i].moddate).toISOString().replace(/T/, ' ').replace(/\..+/, ''); %></div>
				<div class='col-sm-2'><%= tablehistory[i].modname %></div>
				<div class='col-sm-2'><%= tablehistory[i].setstate %></div>
				<div class='col-sm-6'><%= tablehistory[i].comment %></div>	
			<% } %>


		</div>
	</div>
</div>

<script src="/javascripts/jquery-2.2.0.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>